<html>
    <head>
        <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="/static/css/materialize.min.css"  media="screen,projection"/>

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
        <div class="container">

            <nav>
                <div class="nav-wrapper blue lighten-1">
                    <a href="/" class="brand-logo center">hshltsbch</a>
                    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                    {% if session.logged_in  %}
                    <ul class="side-nav fixed" style="witdh=400em" id="mobile-demo">
                        <ul class="section table-of-contents" style="position:relative;top:50%;transform:translateY(-50%)">
                            <li><a href="/">Übersicht</a></li>
                            <li><a href="/month/{{ current_month  }} ">Aktueller Monat</a></li>
                            <li><a href="/fix ">Fixkosten</a></li>
                            <li><a href="/new">Neuer Eintrag</a></li>
                            <li><a href="/logout">Logout</a></li>
                            <li><a>Vergangene Monate</a></li>
                            {% for item in list_months_sidebar %}
                            <li><a style="position:relative;left:5%" href="/month/{{  item[0] }}/{{ item[1] }}">{{  item[0] }} {{ item[1] }}</a></li> 
                            {% endfor %}
                        </ul>
                </div>
                    </ul>
                    {% endif %}
            </nav>

            {% block body %} {% endblock %}

            <br>
            <br>
        </div>



        <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="/static/js/materialize.min.js"></script>
        <script> $(".button-collapse").sideNav({

menuWidth: 250
        });
        </script>


    </body>
</html>

