{% extends "base.html" %}
{% block body  %}
<div class="row">
    <div class="col s12 ">
        <ul class="tabs">
            <li class="tab col s4 blue lighten-1"><a href="#ausgaben" class="white-text">Ausgaben</a></li>
            <li class="tab col s4 blue lighten-1"><a href="#einnahmen" class="white-text">Einnahmen</a></li>
            <li class="tab col s4 blue lighten-1"><a href="#summary" class="white-text">Summary</a></li>
        </ul>
    </div>
</div>

<div id="ausgaben">
    <h5>Ausgaben {{ month }}</h5>
    <table class="bordered highlight col s12">
        <thead>
            <tr>
                <th data-field="datum">Datum</th>
                <th data-field="kategorie">Kategorie</th>
                <th data-field="betrag">Betrag</th>
                <th data-field="kommentar">Kommentar</th>
            </tr>
        </thead>

        <tbody>
            {% for expense in expenses %}
            <tr>
                <td>{{ expense[0] }}</td>
                <td>{{ expense[1] }}</td>
                <td>{{ expense[2] }}</td>
                <td>{{ expense[3] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h5>Summe: {{ month_total_out }}</h5>
</div>

<div id="einnahmen">
    <h5>Einnahmen für {{ month }}</h5>
    <table class="bordered highlight">
        <thead>
            <tr>
                <th data-field="datum">Datum</th>
                <th data-field="kategorie">Kategorie</th>
                <th data-field="betrag">Betrag</th>
                <th data-field="kommentar">Kommentar</th>
            </tr>
        </thead>

        <tbody>
            {% for income in incomes %}
            <tr>
                <td>{{ income[0] }}</td>
                <td>{{ income[1] }}</td>
                <td>{{ income[2] }}</td>
                <td>{{ income[3] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h5>Einnahmen: {{ month_total_in }}</h5>
</div>

<div id="summary">
    <h5>Ausgaben {{ month }}</h5>
    <table class="col s6 bordered highlight">
        <thead>
            <tr>
                <th data-field="kategorie">Kategorie</th>
                <th data-field="Summe">Summe</th>
            </tr>
        </thead>

        {% for s in month_summary_out %}
        <tbody>
            <tr>
                <td>{{ s[0] }}</td>
                <td>{{ s[1] }}</td>
            </tr>
            </tr>
        </tbody>
        {% endfor %}
    </table>
    <h5>Einnahmen {{ month }}</h5>
    <table class="col s6 bordered highlight">
        <thead>
            <tr>
                <th data-field="kategorie">Kategorie</th>
                <th data-field="Summe">Summe</th>
            </tr>
        </thead>

        {% for s in month_summary_in %}
        <tbody>
            <tr>
                <td>{{ s[0] }}</td>
                <td>{{ s[1] }}</td>
            </tr>
            </tr>
        </tbody>
        {% endfor %}
    </table>

    <h5>Total </h5>
    <table class="bordered highlight col s12">
        <thead>
            <tr>
                <th>Einnahmen</th>
                <th>Ausgaben</th>
                <th>Saldo</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>{{ month_total_in }}</td>
                <td>{{ month_total_out }}</td>
                {% set saldo = month_total_in - month_total_out %}
                <td>{{ saldo|round(2) }}</td>
            </tr>
        </tbody>
    </table>
</div>


<script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
<script src="http://cdn.oesmith.co.uk/morris-0.4.1.min.js"></script>

<!-- <div id="summary_ausgaben"></div> -->



<script>
Morris.Donut({
    element: 'summary_ausgaben',
    data: [
    {% for a in month_summary_out %} 
    {label: "{{ a[0]|safe }}" , value:  {{ a[1] }} },
    {% endfor %}
    ]
});
</script>

<!--<div id="bar-example"></div>  -->

<script>
Morris.Bar({
    element: 'bar-example',
    resize: 'true',
    data: [
    { y: '2006', a: 291, b: 1138 },
    { y: '2006', a: 900, b: 1138 },
    ],
    xkey: 'y',
    ykeys: ['a', 'b'],
    labels: ['Series A', 'Series B']
});
</script>
{% endblock  %}
